@media screen and (min-width: 1024px) {
  .container {
    margin-top: 12%;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .container {
    margin-top: 40%;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .container {
    margin-top: 15%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    /* border: 1px solid blue !important; */
    margin-top: 15%;
  }
}

@media screen and (max-width: 360px) {
  .container {
    /* border: 1px solid green !important; */
    margin-top: 20%;
  }
  .card {
    box-shadow: none !important;
  }
}
